@import '../../scss/vars.scss';

.product {
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 380px;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: 1200px) {
    min-height: 620px;
  }

  @media (max-width: 425px) {
    width: 100%;
    max-width: unset;     
  }

  &__mainInfo {
    width: 100%;
  }

  &__img {
    width: 100%;
    width: 100%;
    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
  }

  &__name {
    color: $primaryColor;
    transition: all 0.3s ease;
    position: relative;
    width: max-content;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $hoverColor;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $hoverColor;

      &::after {
        width: 100%;
      }
    }
  }

  &__dropdownWrapper {
    margin: 0 0 20px 0;
  }

  &__components {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
    box-sizing: border-box;
  }

  &__buttonsWrapper {
    margin: 0 0 10px 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;   
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    color: $primaryColor;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      color: $hoverColor;
      background: $secondaryColor;
      border: 1px solid teal;
    }

    &--active {
      background: $hoverColor;
      border: none;
      color: #333;

      &:hover {
        background: $hoverColor;
        border: none;
        color: #333;
      }
    }
  }

  &__buttonAdd {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
  }

  &__txtStrong {
    font-weight: 700; 
    margin-right: 5px;
    font-size: 16px;
  }

  &__txt {
    font-size: 12px;
  }

  &__price {
    font-size: 20px;
  }

  &__alert {
    margin-top: 10px;
    border: 1px solid teal;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    &--hidden {
      display: none;
    }
  }
}