@import '../../../scss/vars.scss';

.order {
  color: #333;

  &__address {
    font-size: 18px;
    font-weight: 600;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $primaryColor;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__photo {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__size {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__souse {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__tableRow {
    td {
      padding: 8px;
      border: 1px solid $primaryColor;
    }
  }

  &__tableHeadRow {
    th {
      border: 1px solid $primaryColor;
      padding: 8px;
    }
  }

  &__photo {
    max-width: 80px;
    max-height: 80px;
  }

  &__tablePrice {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__sum {
    font-weight: 700;
    font-size: 24px;
    color: $primaryColor;
    margin: 0 0 50px 0;
  }
}