@import '../../../../scss/vars.scss';

.orders {
  color: $primaryColor;

  &__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $primaryColor;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__tableRow {
    td {
      padding: 8px;
      border: 1px solid $primaryColor;
      text-align: center;
    }
  }

  &__tableHeadRow {
    th {
      border: 1px solid $primaryColor;
      padding: 8px;
    }
  }

  &__button {
    height: auto;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
  }
}