@import '../../scss/vars.scss';

.headerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    color: $primaryColor;

    &:hover {
      color: yellow;
    }
  }

  &__button {
    border-radius: 8px;
    border: 1px solid teal;
    background: $secondaryColor;
    color: $primaryColor;
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: yellow;
    }
  }

  &__auth {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__cart {
    position: relative;

    &-count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #000;
      background-color: #ffc107;
      position: absolute;
      top: 0px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;

      @media (max-width: 992px) {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}