.mymodal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: fadeIn 0.3s;

  &__hidden {
    opacity: 0;
    display: none;
  }

  &__content {
    background: white;
    padding: 25px;
    max-width: 500px;
    border-radius: 16px;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}