@import '../../../scss/vars.scss';

.product {
  &__buttonsWrapper {
    margin: 0 0 20px 0;
  }

  &__components {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      max-width: unset;
      min-width: unset;
    }
  }

  &__mainInfo {
    width: 60%;
    margin: 0 0 20px 0;
  }

  &__additionalInfo {
    width: 60%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    color: $primaryColor;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
      background: lighten($secondaryColor, 20%);
      color: $hoverColor;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

    &--active {
      background: lighten($secondaryColor, 20%);
      color: $hoverColor;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__buttonAdd {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
  }

  &__txtStrong {
    font-weight: 700; 
    margin-right: 5px;
    font-size: 16px;
  }

  &__txt {
    font-size: 12px;
  }

  &__price {
    font-size: 24px;
    margin: 0 0 20px 0;
  }

  &__alert {
    margin-top: 10px;
    border: 1px solid teal;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    &--hidden {
      display: none;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 70px;
    height: 60px;
    background: #F1F1F2;
    border: none;
    text-indent: 5px;
    font-weight: 600;
    font-size: 18px;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__buttonCounter {
    background: #F1F1F2;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;

    &--toCart {
      width: 180px;
      height: 60px;
      margin-left: 20px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
    }
  }
}