@import '../../scss/vars.scss';

.mainProduct {
  margin-bottom: 150px;
  width: 100%;

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__h2 {
    margin: 0 auto 40px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    text-align: center;
    color: $primaryColor;
    transition: all 0.3s ease;
    position: relative;
    width: 50%;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $hoverColor;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $hoverColor;

      &::after {
        width: 100%;
      }
    }
  }
}