.mainProduct {
  margin-bottom: 150px;
  width: 100%;

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__h2 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    text-align: center; 
  }
}