@import '../../../scss/vars.scss';

.blogArticle {
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__imgWrapper {
    max-width: 400px;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }

  &__date {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 8px 0;
  }

  &__name {
    font-size: 31px;
    font-weight: 700;
  }

  &__preview {
    font-size: 18px;
    font-weight: 400;
  }

  &__link {
    color: teal;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $primaryColor;
    transition: all 0.3s ease;
    width: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $hoverColor;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $hoverColor;

      &::after {
        width: 100%;
      }
    }
  }
}