@import '../../../scss/vars.scss';

.load {
  font-size: 16px;
  font-weight: 600;
  color: $primaryColor;
  background: $secondaryColor;
  border: 1px solid teal;
  height: 40px;
  min-width: 160px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    color: yellow;
    background: $secondaryColor;
    border: 1px solid teal;
  }

}