@import '../../../scss/vars.scss';

.product {
  &__buttonsWrapper {
    margin: 0 0 10px 0;
  }

  &__components {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
    box-sizing: border-box;
  }

  &__mainInfo {
    width: 60%;
    margin: 0 0 20px 0;
  }

  &__additionalInfo {
    width: 60%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    color: $primaryColor;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      color: yellow;
      background: $secondaryColor;
      border: 1px solid teal;
    }

    &--active {
      background: yellow;
      border: none;
      color: #333;

      &:hover {
        background: yellow;
        border: none;
        color: #333;
      }
    }
  }

  &__buttonAdd {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background: $secondaryColor;
    border: 1px solid teal;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
  }

  &__txtStrong {
    font-weight: 700; 
    margin-right: 5px;
    font-size: 16px;
  }

  &__txt {
    font-size: 12px;
  }

  &__price {
    font-size: 20px;
  }

  &__alert {
    margin-top: 10px;
    border: 1px solid teal;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    &--hidden {
      display: none;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 70px;
    height: 60px;
    background: #F1F1F2;
    border: none;
    text-indent: 5px;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__buttonCounter {
    background: #F1F1F2;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;

    &--toCart {
      width: 180px;
      height: 60px;
      margin-left: 20px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
    }
  }
}