
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ededed;
}

ul {
  list-style: none;
}

a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 500px;
}

.linkLight {
  color: white;
}

.main {
  padding: 120px 0;
}

.main__loading {
  padding: 0 20px;
  min-height: 500px;
}

.dots {
  margin-left: 4px;
  width: 12px;
  text-align: left;
  display: inline-block;
  font-weight: 700;
}

.dots::after {
  content: '';
  display: inline-block;

  animation: dots 1s infinite ease forwards;
}

@keyframes dots {
  0% {
    content: '';
  }

  15% {
    content: '.';
  }

  33% {
    content: '..';
  }

  66% {
    content: '...';
  }

  100% {
    content: '...';
  }
}

