@import '../../../../scss/vars.scss';

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__img {
    width: 108px;
    height: 108px;
    margin: 0 0 20px 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    color: teal;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: $primaryColor;
    transition: all 0.3s ease;
    width: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $hoverColor;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $hoverColor;

      &::after {
        width: 100%;
      }
    }
  }

  &__item {
  margin: 0 0 5px 0;
  }
}