@import '../../../../scss/vars.scss';

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  color: $primaryColor;
  cursor: pointer;

  &:hover {
    color: $hoverColor;
  }
}