@import '../../../scss/vars.scss';

.form {
  width: 50%;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  &__label {
    font-size: 18px;
    font-weight: 600;
    color: $primaryColor;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  &__input {
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    border: 1px solid teal;
    outline: none;

    &--error {
      &.form-control {
        color: red;
      border-color: red;
      box-shadow: red;
      }
    }
  }

  &__button {
    max-width: 400px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

    &--send {
      border: 1px solid teal;
      outline: none;
      color: $primaryColor;
      background: $secondaryColor;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  
      &:hover {
        background: lighten($secondaryColor, 10%);
        color: $hoverColor;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
}