@import '../../scss/vars.scss';

.headerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    padding: 20px 5px 10px 0;
    border-bottom: 1px solid gray;
    z-index: 2;
    transition: left 1s ease;
  }

  &--closed {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      position: absolute;
      left: -100%;
      top: 0;
      bottom: 0;
      flex-direction: column;
      gap: 10px;
      background: #fff;
      padding: 20px 0 10px 0;
      border-bottom: 1px solid gray;
      z-index: 2;
      transition: all 1s ease;
    }
  }

  &__close {
    display: none;

    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__closeButton {
    width: 30px;
    height: 30px;
    position: relative;
  }

  &__closeButtonSpan {
    width: 100%;
    height: 2px;
    background: teal;
    position: absolute;
    top: 50%;
    left: 0;

    &:first-child {
      transform: rotate(-45deg);
      transform-origin: center;
    }

    &:last-child {
      transform: rotate(45deg);
      transform-origin: center;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 1200px) {
      max-width: 120px;
      margin: 0 auto;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    color: $primaryColor;
    cursor: pointer;

    &:hover {
      color: $hoverColor;
    }
  }

  &__button {
    border-radius: 8px;
    border: 1px solid teal;
    background: $secondaryColor;
    color: $primaryColor;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      color: $hoverColor;
    }
  }

  &__auth {
    display: flex;
    gap: 10px;
    align-items: center;

    @media screen and (max-width: 1200px) {
      max-width: 120px;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
    }
  }

  &__cart {
    position: relative;
    padding: 0 20px 0 0;

    &--count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #000;
      background-color: $hoverColor;
      position: absolute;
      top: -10px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;

      @media (max-width: 1200px) {
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
} 