@import '../../scss/vars.scss';

.header {
  height: 80px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: $primaryColor;
  text-decoration: none;
  background-color: $secondaryColor;

  &__menu {
    display: none;

    @media screen and (max-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }

  &__menuH3 {
    margin: 0;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    color: $primaryColor;
    text-decoration: none;

    &:hover {
      color: yellow;
    }
  }

  &__block {
    display: flex;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__nav {
    width: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      justify-content: flex-end;
    }
  }
}