@import '../../../scss/vars.scss';

.account {
  min-height: 80vh;
  padding: 50px 0;
  
  &__orders {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__link {
    color: $primaryColor;
    transition: all 0.3s ease;
    position: relative;
    width: max-content;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $hoverColor;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $hoverColor;

      &::after {
        width: 100%;
      }
    }
  }

  &__p {
    margin: 0;
  }
}