@import '../../../scss/vars.scss';

.cart {
  color: $primaryColor;

  &__header {
    font-size: 42px;
    color: $primaryColor;
    text-align: center;
    margin: 0 0 20px 0;
  }

  &__sum {
    font-weight: 700;
    font-size: 24px;
    color: $primaryColor;
    margin: 0 0 50px 0;
  }
}