@import '../../../scss/vars.scss';

.typelist {
  display: flex;
  gap: 40px;
  width: 100%;

  &__item {
    padding: 5px 10px;
    border: 1px solid teal;
    color: $primaryColor;
    background: $secondaryColor;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: $hoverColor;
      background: $secondaryColor;
      border: 1px solid teal;
    }

    &--active {
      background: $hoverColor;
      border: none;
      color: #333;

      &:hover {
        background: $hoverColor;
        border: none;
        color: #333;
      }
    }
  }
}