@import '../../../../scss/vars.scss';

.empty {
  &__h2 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 40px 0;
    color: $primaryColor;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto 20px;
  }

  &__imageWrapper {
    width: 100px;
    margin: 0 0 10px 0;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__goBack {
    display: block;
    margin: 20px 0;
    font-size: 24px;
  }
}