.blog {
  padding: 50px 0;

  &__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 40px 0;
  }

  &__block {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;;
    }
  }
}