@import '../../scss/vars.scss';

.contactsBlock {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.contactsBlockItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__img {
    width: 108px;
    height: 108px;
    margin: 0 0 20px 0;
  }
}

.contactsBlockForm {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  &__submitted {
    padding: 10px;
  }

  &__map {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__frame {
    width: 100%;
  }
}

.contactsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  &__input {
    height: 40px;
    width: 70%;
    padding: 5px 10px;
    border: 1px solid teal;
    outline: none;
  }

  &__textarea {
    width: 70%;
    border: 1px solid teal;
    outline: none;
    padding: 5px 10px;
  }

  &__button {
    width: 70%;
    height: 40px;
    cursor: pointer;
    border: 1px solid teal;
    outline: none;
    color: $primaryColor;
    background: $secondaryColor;

    &:hover {
      color: $hoverColor;
    }
  }

  &__emailErrorInput {
    &.form-control {
      border: 1px solid red;
      box-shadow: 0 0 0 0.25rem red;

      &:focus {
        border: 1px solid red;
        box-shadow: 0 0 0 0.25rem red;
      }
    }
  }

  &__emailErrortxt {
    color: red;
  }
}

.contactsList {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    margin: 0 0 5px 0;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
  }
}