.products {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  &__h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
  }

  &__h4 {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 600;
  }

  &__item {
    width: calc((100% - 40px) / 3);
    min-width: 320px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 1200px) {
      width: calc((100% - 40px) / 2);
    }
  }

  &__typesWrapper {
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__searchWrapper {
    margin: 0 0 20px 0;
  }

  &__loadMore {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }
}